pip==20.0.2
bump2version==1.0.0
wheel==0.33.6
watchdog==0.9.0
flake8==3.7.9
tox==3.14.3
coverage==5.0.3
codecov==2.0.22
Sphinx==7.1.1
sphinxcontrib-napoleon==0.7
twine==3.1.1

pytest==5.3.4
pytest-runner==5.2
pytest-cov==2.8.1

click==7.0
requests==2.22.0
asyncio==3.4.3
aiohttp==3.6.2
pandas==0.25.3
